/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

socket_server/node_modules
socket_server/package-lock.json
socket_server/log4js-config.json
socket_server/Setting
socket_server/logs*
