@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
:root {
  --brand:                                        #037ab2;
  --primary:                                      #037ab2;
  --secondary:                                    #363435;
  --black:                                        #000;
  --white:                                        #fff;
  --success:                                      #42AB44;
  --warning:                                      #FFAB1B;
  --danger:                                       #FA6767;
  --link:                                         #007DFF;
  --primary-alpha-10:                             rgba(3, 122, 178, 0.1);
  --primary-alpha-20:                             rgba(3, 122, 178, 0.2);
  --primary-alpha-30:                             rgba(3, 122, 178, 0.3);
  --primary-alpha-40:                             rgba(3, 122, 178, 0.4);
  --primary-alpha-50:                             rgba(3, 122, 178, 0.5);
  --primary-alpha-60:                             rgba(3, 122, 178, 0.6);
  --primary-alpha-70:                             rgba(3, 122, 178, 0.7);
  --primary-alpha-80:                             rgba(3, 122, 178, 0.8);
  --primary-alpha-90:                             rgba(3, 122, 178, 0.9);
  --secondary-alpha-10:                           rgba(54, 52, 53, 0.1);
  --secondary-alpha-20:                           rgba(54, 52, 53, 0.2);
  --secondary-alpha-30:                           rgba(54, 52, 53, 0.3);
  --secondary-alpha-40:                           rgba(54, 52, 53, 0.4);
  --secondary-alpha-50:                           rgba(54, 52, 53, 0.5);
  --secondary-alpha-60:                           rgba(54, 52, 53, 0.6);
  --secondary-alpha-70:                           rgba(54, 52, 53, 0.7);
  --secondary-alpha-80:                           rgba(54, 52, 53, 0.8);
  --secondary-alpha-90:                           rgba(54, 52, 53, 0.9);
  --success-alpha-10:                             rgba(66, 171, 68, 0.1);
  --success-alpha-20:                             rgba(66, 171, 68, 0.2);
  --success-alpha-30:                             rgba(66, 171, 68, 0.3);
  --success-alpha-40:                             rgba(66, 171, 68, 0.4);
  --success-alpha-50:                             rgba(66, 171, 68, 0.5);
  --success-alpha-60:                             rgba(66, 171, 68, 0.6);
  --success-alpha-70:                             rgba(66, 171, 68, 0.7);
  --success-alpha-80:                             rgba(66, 171, 68, 0.8);
  --success-alpha-90:                             rgba(66, 171, 68, 0.9);
  --warning-alpha-10:                             rgba(255, 171, 27, 0.1);
  --warning-alpha-20:                             rgba(255, 171, 27, 0.1);
  --warning-alpha-30:                             rgba(255, 171, 27, 0.1);
  --warning-alpha-40:                             rgba(255, 171, 27, 0.1);
  --warning-alpha-50:                             rgba(255, 171, 27, 0.1);
  --warning-alpha-60:                             rgba(255, 171, 27, 0.1);
  --warning-alpha-70:                             rgba(255, 171, 27, 0.1);
  --warning-alpha-80:                             rgba(255, 171, 27, 0.1);
  --warning-alpha-90:                             rgba(255, 171, 27, 0.1);
  --danger-alpha-10:                              rgba(250, 103, 103, 0.1);
  --danger-alpha-20:                              rgba(250, 103, 103, 0.2);
  --danger-alpha-30:                              rgba(250, 103, 103, 0.3);
  --danger-alpha-40:                              rgba(250, 103, 103, 0.4);
  --danger-alpha-50:                              rgba(250, 103, 103, 0.5);
  --danger-alpha-60:                              rgba(250, 103, 103, 0.6);
  --danger-alpha-70:                              rgba(250, 103, 103, 0.7);
  --danger-alpha-80:                              rgba(250, 103, 103, 0.8);
  --danger-alpha-90:                              rgba(250, 103, 103, 0.9);
  --link-alpha-10:                                rgba(0, 125, 225, 0.1);
  --link-alpha-20:                                rgba(0, 125, 225, 0.2);
  --link-alpha-30:                                rgba(0, 125, 225, 0.3);
  --link-alpha-40:                                rgba(0, 125, 225, 0.4);
  --link-alpha-50:                                rgba(0, 125, 225, 0.5);
  --link-alpha-60:                                rgba(0, 125, 225, 0.6);
  --link-alpha-70:                                rgba(0, 125, 225, 0.7);
  --link-alpha-80:                                rgba(0, 125, 225, 0.8);
  --link-alpha-90:                                rgba(0, 125, 225, 0.9);
  --bg-bw-alpha-10:                               rgba(254, 254, 254, 0.1);
  --bg-bw-alpha-20:                               rgba(254, 254, 254, 0.2);
  --bg-bw-alpha-30:                               rgba(254, 254, 254, 0.3);
  --bg-bw-alpha-40:                               rgba(254, 254, 254, 0.4);
  --bg-bw-alpha-50:                               rgba(254, 254, 254, 0.5);
  --bg-bw-alpha-60:                               rgba(254, 254, 254, 0.6);
  --bg-bw-alpha-70:                               rgba(254, 254, 254, 0.7);
  --bg-bw-alpha-80:                               rgba(254, 254, 254, 0.8);
  --bg-bw-alpha-90:                               rgba(254, 254, 254, 0.9);
  --gray-1:                                       #F8F9FC;
  --gray-2:                                       #e5e5ea;
  --gray-3:                                       #d1d1d6;
  --gray-4:                                       #c7c7cc;
  --gray-5:                                       #aeaeb2;
  --gray-6:                                       #8e8e93;
  --bg-bw:                                        #fefefe;
  --bg-bw-rv:                                     #121212;
  --bg-main:                                      #f2f2f2;
  --bg-submain:                                   #d1d1d6;
  --bg-bw-alpha-10:                               rgba(254, 254, 254, 0.1);
  --bg-bw-alpha-20:                               rgba(254, 254, 254, 0.2);
  --bg-bw-alpha-30:                               rgba(254, 254, 254, 0.3);
  --bg-bw-alpha-40:                               rgba(254, 254, 254, 0.4);
  --bg-bw-alpha-50:                               rgba(254, 254, 254, 0.5);
  --bg-bw-alpha-60:                               rgba(254, 254, 254, 0.6);
  --bg-bw-alpha-70:                               rgba(254, 254, 254, 0.7);
  --bg-bw-alpha-80:                               rgba(254, 254, 254, 0.8);
  --bg-bw-alpha-90:                               rgba(254, 254, 254, 0.9);
  --bg-bw-rv-alpha-10:                            rgba(18, 18, 18, 0.1);
  --bg-bw-rv-alpha-20:                            rgba(18, 18, 18, 0.2);
  --bg-bw-rv-alpha-30:                            rgba(18, 18, 18, 0.3);
  --bg-bw-rv-alpha-40:                            rgba(18, 18, 18, 0.4);
  --bg-bw-rv-alpha-50:                            rgba(18, 18, 18, 0.5);
  --bg-bw-rv-alpha-60:                            rgba(18, 18, 18, 0.6);
  --bg-bw-rv-alpha-70:                            rgba(18, 18, 18, 0.7);
  --bg-bw-rv-alpha-80:                            rgba(18, 18, 18, 0.8);
  --bg-bw-rv-alpha-90:                            rgba(18, 18, 18, 0.9);
  --border:                                       var(--gray-2);
  --text-title:                                   #1c1c1c;
  --text-subtitle:                                #484848;
  --text-paragraph:                               #636363;
  --text-overline:                                #636363;
  --btn-default:                                  var(--gray-2);
  --btn-default-hover:                            var(--gray-3);
  --web-font:                                     'Open Sans', sans-serif;
}

.theme-dark {
  --gray-1:                                       #1b1b1d;
  --gray-2:                                       #2c2c2e;
  --gray-3:                                       #3a3a3c;
  --gray-4:                                       #48484a;
  --gray-5:                                       #636366;
  --gray-6:                                       #8e8e93;
  --bg-bw:                                        #121212;
  --bg-bw-rv:                                     #fefefe;
  --bg-main:                                      #1c1c1c;
  --bg-submain:                                   #3a3a3c;
  --bg-bw-alpha-10:                               rgba(18, 18, 18, 0.1);
  --bg-bw-alpha-20:                               rgba(18, 18, 18, 0.2);
  --bg-bw-alpha-30:                               rgba(18, 18, 18, 0.3);
  --bg-bw-alpha-40:                               rgba(18, 18, 18, 0.4);
  --bg-bw-alpha-50:                               rgba(18, 18, 18, 0.5);
  --bg-bw-alpha-60:                               rgba(18, 18, 18, 0.6);
  --bg-bw-alpha-70:                               rgba(18, 18, 18, 0.7);
  --bg-bw-alpha-80:                               rgba(18, 18, 18, 0.8);
  --bg-bw-alpha-90:                               rgba(18, 18, 18, 0.9);
  --bg-bw-rv-alpha-10:                            rgba(254, 254, 254, 0.1);
  --bg-bw-rv-alpha-20:                            rgba(254, 254, 254, 0.2);
  --bg-bw-rv-alpha-30:                            rgba(254, 254, 254, 0.3);
  --bg-bw-rv-alpha-40:                            rgba(254, 254, 254, 0.4);
  --bg-bw-rv-alpha-50:                            rgba(254, 254, 254, 0.5);
  --bg-bw-rv-alpha-60:                            rgba(254, 254, 254, 0.6);
  --bg-bw-rv-alpha-70:                            rgba(254, 254, 254, 0.7);
  --bg-bw-rv-alpha-80:                            rgba(254, 254, 254, 0.8);
  --bg-bw-rv-alpha-90:                            rgba(254, 254, 254, 0.9);
  --border:                                       var(--gray-2);
  --text-title:                                   #f2f2f2;
  --text-subtitle:                                #c7c7c7;
  --text-paragraph:                               #aeaeae;
  --text-overline:                                #aeaeae;
  --btn-default:                                  var(--gray-2);
  --btn-default-hover:                            var(--gray-3);
}

.theme-default {
  --color-main-nav:                               #363636;
  --color-main-nav-link:                          var(--white);
}

.theme-light {
  --color-main-nav:                               var(--bg-bw);
  --color-main-nav-link:                          var(--text-paragraph);
}

.theme-dark {
  --color-main-nav:                               var(--bg-bw);
  --color-main-nav-link:                          var(--text-paragraph);
}

.page .page-header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1030;
}

.page .page-header header .header-user > a {
  font-weight: 600;
}

.page .page-header header .header-user > a.btn:not(.btn-primary) {
  color: var(--primary);
}

.page .page-body {
  height: 100%;
}

.page .page-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1031;
}

.page .page-footer footer {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-footer footer h6,
.page .page-footer footer p {
  color: var(--white);
}

.page .page-footer footer h6 {
  margin-bottom: 0.5rem;
}

.page .page-footer footer p {
  margin-bottom: 0.5rem;
  text-align: center;
}

.page .page-footer footer p a {
  font-size: 0.875rem;
  color: var(--white);
}

.view-home {
  height: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.view-home .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(3, 122, 178, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-home .overlay .panel {
  width: 460px;
  padding: 1.5rem 1.5rem 2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  -webkit-transform: translate(0, -6rem);
  transform: translate(0, -6rem);
}

.view-home .overlay .panel .panel-body form .form-group > div .btn.btn-block {
  width: 100%;
}
/*# sourceMappingURL=home.css.map */