@import '../settings/var';
@import '../settings/mixin';

.page{
	.page-header{
		background-color: var(--secondary);
	}

	.page-body{
		background-color: var(--gray-1);
	}
}

.user-info-wrapper{
	min-width: 330px;

	position: absolute;
	z-index: 1030;

	.card{
		.card-body{
			.user-info{
				@include d-flex(row, flex-start, flex-start);

				.img-mask{
					width: 40px;
					height: 40px;

					margin-right: 0.5rem;
				}

				.text{
					width: calc(100% - 40px - 0.5rem);

					.heading{
						width: 100%;

						margin-bottom: 0.375rem;

						@include d-flex(row, space-between, center);

						h6{
							max-width: calc(100% - 40px);
							
							font-weight: 600;
	
							overflow: hidden;
							text-overflow: ellipsis;
	
							white-space: nowrap;
						}
					}

					p{
						margin-bottom: 0.25rem;

						font-size: 0.75rem;
						line-height: normal;

						&:last-of-type{
							margin-bottom: 0.5rem;
						}
					}

					> .btn{
						width: 100px;
					}
				}
			}
		}
	}
}

.view-dashboard{
	height: 100%;

	padding: 1rem 1.5rem 0.5rem;

	.dashboard-wrapper{
		height: 100%;

		@include d-flex(row, flex-start, flex-start);

		.list-events,
		.chat-area{
			height: 100%;

			padding: 0 0.75rem;

			.card{
				border: none;

				.card-header{
					height: 72px;

					padding: 0 0.75rem;

					h6{
						margin-bottom: 0.5rem;

						color: var(--primary);
						font-weight: 700;

						text-transform: uppercase;
					}

					p{
						&.p-sm{
							font-size: 0.75rem;
						}
					}
				}
			}
		}

		.list-events{
			width: 75%;

			.card{
				&:first-child{
					height: 80px;

					margin-bottom: 0.75rem;

					.card-header{
						@include borderRadiusCustom(bottom, left);
						@include borderRadiusCustom(bottom, right);
					}
				}

				&:last-child{
					height: calc(100% - 80px - 0.75rem);

					.card-body{
						height: 100%;
	
						padding: 0;
						padding-top: 0.75rem;
	
						.nav {
							&.nav-pills{
								height: 60px;
	
								padding: 0 1.5rem;
	
								background-color: var(--bg-bw);
			
								@include positionSticky(top, 0, 10);
			
								.nav-item{
									&:not(:last-child){
										margin-right: 0.5rem;
									}
	
									.nav-link{
										padding: 0.375rem 0.75rem;
	
										border: 2px solid var(--text-paragraph);
										color: var(--text-paragraph);
	
										@include borderRadius(2rem);
	
										&.active{
											font-weight: 700;
	
											background-color: var(--primary);
											border-color: var(--primary);
											color: var(--white);
										}
									}
								}
							}
						}
			
						.tab-content{
							height: calc(100% - 60px);
							
							.tab-pane{
								height: 100%;
	
								padding-top: 1.5rem;
	
								overflow-x: hidden;
								@include overflow-y();
								
								.event-schedule{
									.event-item{
										padding: 0 0.75rem;
	
										&.live{
											.event-time{
												.badge{
													&.badge-success{
														display: block;
													}
												}
											}
										}
			
										.event-time{
											width: 100%;
			
											margin-bottom: 0.75rem;
											padding: 0 0.75rem;
	
											@include d-flex(row, space-between, center);
			
											h6{
												max-width: 150px;
												flex: 1 0 150px;
	
												padding: 0.25rem 0.5rem;
	
												border: 2px solid var(--gray-3);
												color: var(--text-subtitle);
												
												font-weight: 600;
	
												text-align: center;
	
												@include borderRadius(2rem);
											}
	
											.line{
												flex: 1 0 auto;
												height: 2px;
	
												margin: 0 0.75rem 0 1.5rem;
	
												background-color: var(--gray-3);
											}
	
											.badge{
												&.badge-success{
													display: none;
	
													@include borderRadius(1.5rem);
													
													i{
														color: var(--danger);
	
														@include animationBlink(500ms);
													}
												}
											}
										}
			
										.event-content{
											width: 100%;
			
											flex-wrap: wrap;
											@include d-flex(row, flex-start, flex-start);
	
											overflow-y: hidden;
											@include overflow-x();
											@include overflow-hidden();
			
											.item-event{
												width: 50%;
			
												padding: 0 1rem;
												margin-bottom: 2rem;
	
												&:hover{
													.ratio-wrapper{
														.img-mask{
															img{
																@include scale(1.1, 1.1);
																@include transition();
															}
														}
	
														.overlay{
															h6{
																@include translate(0, 0);
																@include transition();
															}
	
															.controls{
																opacity: 1;
	
																@include translate(0, 0);
																@include transition();
															}
														}
													}
												}
			
												.ratio-wrapper{
													overflow: hidden;
			
													.img-mask{
														@include borderRadius();
	
														img{
															@include transition();
														}
													}
			
													.overlay{
														width: 100%;
														height: 40%;
			
														padding: 0.75rem;
	
														@include gradientLinearBackground(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.35));
			
														position: absolute;
														bottom: 0;
														left: 50%;
														z-index: 2;
			
														@include borderRadius();
			
														@include translate(-50%, 0);
														@include d-flex(column, flex-end, flex-start);
			
														h6{
															max-width: 100%;
	
															margin-bottom: 0.5rem;
	
															font-weight: 600;
															color: var(--white);
	
															overflow: hidden;
															text-overflow: ellipsis;
	
															white-space: nowrap;
	
															@include translate(0, 100%);
															@include transition();
														}
	
														.controls{
															width: 100%;
	
															opacity: 0;
	
															@include translate(0, 100%);
															@include transition();
	
															@include d-flex(row, flex-start, center);
					
															.btn{
																flex: 1 0 auto;
					
																padding: 0.375rem 0.5rem;
	
																border-width: 2px;
	
																font-size: 0.75rem;
																font-weight: 600;
					
																&:not(:last-child){
																	margin-right: 0.5rem;
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}

				
			}
		}

		.chat-area{
			width: 25%;

			.card{
				&:first-child{
					height: calc(33.33% - 0.75rem);

					margin-bottom: 0.75rem;

					.card-header{
						height: 80px;

						@include d-flex(column, center, flex-start);

						.input-group{
							width: 100%;

							.form-control{
								@include borderRadiusCustom(top, left);
								@include borderRadiusCustom(bottom, left);
							}
						}
					}

					.card-body{
						height: calc(100% - 80px);

						padding: 0 0 0.75rem;

						.list-users-wrapper{
							width: 100%;
							height: 100%;
		
							border-bottom: 1px solid var(--gray-1);
		
							overflow-x: hidden;
							@include overflow-y();
		
							@include overflow-hidden();
		
							.list-users{
								.select-user-item{
									a{
										&.select-user{
											padding: 0.5rem;
		
											@include d-flex(row, flex-start, center);
		
											.img-mask-wrapper{
												width: 32px;
												height: 32px;
		
												margin-right: 0.5rem;
		
												position: relative;
		
												.img-mask{
													width: 100%;
													height: 100%;
		
													border: 1px solid var(--border);
												}
		
												.unread,
												.status {
													.circle{
														width: 12px;
														height: 12px;
		
														background-color: var(--gray-4);
		
														@include borderRadius(50%);
													}
												}
		
												.unread{
													position: absolute;
													top: -6px;
													right: -4px;
													z-index: 1;
		
													// display: none;
		
													.circle{
														width: 16px;
														height: 16px;
		
														background-color: var(--gray-2);
														border: 1px solid var(--white);
													}
		
													.circle{
														font-size: 0.625rem;
														color: var(--text-paragraph);
		
														@include d-flex(row, center, center);
													}
												}
		
												.status{
													position: absolute;
													bottom: -2px;
													right: -2px;
													z-index: 1;
												}
											}
		
											h6{
												width: calc(100% - 32px - 0.5rem);
		
												overflow: hidden;
												text-overflow: ellipsis;
		
												white-space: nowrap;
											}
										}
									}	
								}
							}
						}
					}
				}

				&:last-child{
					height: 66.67%;

					position: relative;

					&.chat-area-collapsed{
						.card-body{
							.chat-box{
								height: 50%;
							}
						}
					}

					.card-block{
						width: 100%;
						height: 100%;
						display: none;
	
						background-color: rgba(0,0,0,0.25);
						backdrop-filter: blur(2px);
						@include borderRadius();
	
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: 1030;
	
						@include translate(-50%, -50%);
	
						&.show{
							@include d-flex(column, center, center);
	
							p{
								color: var(--white);
	
								text-align: center;
							}
						}
					}

					.card-body{
						height: 100%;
	
						padding: 0;
	
						.chat-box{
							width: 100%;
							height: 100%;
	
							&.chat-private{
								display: none;
	
								border-top: 1px solid var(--border);
	
								.chat-box-header{
									height: 48px;
	
									padding: 0 0.75rem;
	
									@include d-flex(row, space-between, center);
	
									h6{
										font-weight: 600;
									}
								}
	
								.chat-box-body{
									height: calc(100% - 96px);
								}
							}
	
							.chat-box-body{
								height: calc(100% - 48px);
	
								.chat-append{
									width: 100%;
									height: 100%;
		
									padding: 0.875rem;
		
									overflow-x: hidden;
									@include overflow-y();
		
									.chat-delay{
										margin: 0.5rem 0;
				
										display: block;
										text-align: center;
									}
				
									.chat-item{
										&:not(:last-child){
											margin-bottom: 0.5rem;
										}
				
										@include d-flex(row, flex-start, flex-start);
				
										&.chat-item-mine{
											@include d-flex(row-reverse, flex-start, flex-start);
				
											.item-content{
												width: 90%;
				
												@include d-flex(column, flex-start, flex-end);
				
												.content-chat{
													@include d-flex(column, flex-start, flex-end);
				
													p{
														background-color: var(--primary);
														color: var(--white);
													}
												}
											}
										}
				
										.item-avatar{
											width: 32px;
											height: 32px;
				
											margin-right: 0.5rem;
				
											.img-mask{
												width: 100%;
												height: 100%;
											}
										}
				
										.item-content{
											width: calc(100% - 32px - 0.5rem);
				
											@include d-flex(column, flex-start, flex-start);
				
											> p {
												&.p-name{
													margin-bottom: 0.25rem;
				
													font-size: 0.75rem;
												}
											}
				
											.content-chat{
												max-width: 90%;
				
												@include d-flex(column, flex-start, flex-start);
				
												p{
													padding: 0.375rem;
				
													background-color: var(--gray-1);
													font-size: 0.875rem;
				
													@include borderRadius(0.5rem);
				
													&:not(:last-child){
														margin-bottom: 0.25rem;
													}
												}
											}
										}
									}
								}
							}
	
							.chat-box-footer{
								height: 48px;
	
								padding: 0 0.75rem;
	
								@include d-flex(row, flex-start, center);
	
								.form-control{
									margin-right: 0.75rem;
								}
	
								.btn{
									min-width: 100px;
								}
							}
						}
					}
				}
			}
		}
	}

	.modal{
		&#modalSeminarDetail{
			.modal-dialog{
				.modal-content{
					.modal-body{
						padding: 0;

						.seminar-cover{
							margin-bottom: 1.5rem;

							.ratio-wrapper{
								.img-mask{
									@include borderRadius();
								}
	
								.overlay{
									width: 100%;
									height: 100%;
	
									padding: 1.5rem;
	
									@include gradientLinearBackground(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
	
									@include d-flex(column, flex-end, flex-start);
	
									position: absolute;
									top: 50%;
									left: 50%;
									z-index: 2;
	
									@include translate(-50%, -50%);
	
									h6{
										color: var(--white);
	
										text-transform: uppercase;
									}
								}
							}
						}

						.seminar-desc{
							padding: 0 1.5rem;
							margin-bottom: 1.5rem;

							p{
								&:not(:last-child){
									margin-bottom: 0.75rem;
								}
							}
						}

						.seminar-buttons{
							height: 60px;

							@include d-flex(row, center, center);
						}
					}
				}
			}
		}
	}
}

