@import '../settings/var';
@import '../settings/mixin';

.page{
	.page-header{
		background-color: var(--primary);
	}
}

.user-info-wrapper{
	min-width: 200px;

	position: absolute;
	z-index: 1030;

	.card{
		.card-body{
			.user-info{
				@include d-flex(row, flex-start, flex-start);

				.img-mask{
					width: 40px;
					height: 40px;

					margin-right: 0.5rem;
				}

				.text{
					h6{
						max-width: 200px;

						margin-bottom: 0.375rem;
						font-weight: 600;

						overflow: hidden;
						text-overflow: ellipsis;

						white-space: nowrap;
					}

					p{
						margin-bottom: 0.25rem;

						font-size: 0.75rem;
						line-height: normal;

						&:last-of-type{
							margin-bottom: 0.5rem;
						}
					}

					.btn{
						width: 100px;
					}
				}
			}
		}
	}
}

.view-dashboard{
	height: 100%;

	padding: 1rem 1.5rem 0.5rem;

	.dashboard-wrapper{
		height: 100%;

		@include d-flex(row, flex-start, flex-start);

		.list-events,
		.chat-area{
			height: 100%;

			padding: 0 0.75rem;
		}

		.list-events{
			width: 60%;

			.card{
				height: 100%;

				box-shadow: none;

				border: 1px solid var(--border);

				.card-body{
					height: 100%;

					overflow-x: hidden;
					@include overflow-y();

					.nav {
						&.nav-tabs{
							background-color: var(--bg-bw);
		
							@include positionSticky(top, 0, 10);
		
							.nav-item{
								.nav-link{
									&.active{
										font-weight: 600;
									}
								}
							}
						}
					}
		
					.tab-content{
						.tab-pane{
							.event-schedule{
								.event-item{
									padding: 1.5rem 0.75rem;
		
									@include d-flex(row, flex-start, flex-start);
		
									&:not(:last-child){
										border-bottom: 1px solid var(--border);
									}
		
									.event-time{
										width: 150px;
		
										padding: 0 0.75rem;
		
										h6{
											font-weight: 600;
										}
									}
		
									.event-content{
										width: calc(100% - 150px);
		
										@include d-flex(row, flex-start, flex-start);
		
										.item-event{
											width: 30%;
		
											padding: 0 0.75rem;
		
											&:not(:first-child){
												&:hover{
													.controls{
														opacity: 1;
													}
												}
		
												.controls{
													opacity: 0;
												}
											}
		
											&:hover{
												.ratio-wrapper{
													.overlay{
														opacity: 1;
		
														@include transition();
													}
												}
											}
		
											.ratio-wrapper{
												margin-bottom: 0.75rem;
		
												.img-mask{
													@include borderRadius();
												}
		
												.overlay{
													width: 100%;
													height: 100%;
		
													padding: 0.75rem;
		
													background-color: var(--bg-bw-rv-alpha-50);
		
													opacity: 0;
		
													position: absolute;
													top: 50%;
													left: 50%;
													z-index: 2;
		
													@include borderRadius();
		
													@include translate(-50%, -50%);
													@include d-flex(column, flex-end, flex-start);
		
													@include transition();
		
													h6,
													p{
														color: var(--white);
													}
		
													h6{
														margin-bottom: 0.5rem;
													}
		
													p{
														@include textWrapper(100%, 2.75rem, 2);
													}
												}
											}
		
											.controls{
												@include d-flex(row, flex-start, center);
		
												.btn{
													flex: 1 0 auto;
		
													padding: 0.375rem 0.5rem;
													font-size: 0.75rem;
		
													&:not(:last-child){
														margin-right: 0.5rem;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.chat-area{
			width: 40%;

			&.chat-area-collapsed{
				.chat-box{
					height: 50%;
				}
			}

			.chat-box{
				width: 100%;
				height: 100%;

				&:first-child{
					margin-bottom: 0.75rem;
				}

				&.chat-private{
					height: calc(50% - 0.75rem);

					display: none;

					.card{
						.card-body{
							height: calc(100% - 108px);
						}
					}
				}

				.card{
					height: 100%;

					border: 1px solid var(--border);
					box-shadow: none;

					.card-header{
						height: 50px;

						padding: 0.75rem;

						h6{
							font-weight: 600;
						}

						.btn{
							&.btn-close-chat{
								padding: 0;
							}
						}
					}

					.card-body{
						height: calc(100% - 58px);
						padding: 0;

						@include d-flex(row, flex-start, stretch);

						.list-users-wrapper{
							width: 140px;

							border-right: 1px solid var(--border);

							overflow-x: hidden;
							@include overflow-y();

							@include overflow-hidden();

							.list-users{
								.select-user-item{
									a{
										&.select-user{
											padding: 0.5rem;

											@include d-flex(row, flex-start, center);
	
											.img-mask-wrapper{
												width: 32px;
												height: 32px;

												margin-right: 0.5rem;

												position: relative;
	
												.img-mask{
													width: 100%;
													height: 100%;
		
													border: 1px solid var(--border);
												}
		
												.unread,
												.status {
													.circle{
														width: 12px;
														height: 12px;
		
														background-color: var(--gray-4);
		
														@include borderRadius(50%);
													}
												}
		
												.unread{
													position: absolute;
													top: -6px;
													right: -4px;
													z-index: 1;
		
													display: none;
		
													.circle{
														width: 16px;
														height: 16px;
		
														background-color: var(--gray-2);
														border: 1px solid var(--white);
													}
		
													.circle{
														font-size: 0.625rem;
														color: var(--text-paragraph);
		
														@include d-flex(row, center, center);
													}
												}
		
												.status{
													position: absolute;
													bottom: -2px;
													right: -2px;
													z-index: 1;
												}
											}

											h6{
												width: calc(100% - 32px - 0.5rem);

												overflow: hidden;
												text-overflow: ellipsis;

												white-space: nowrap;
											}
										}
									}	
								}
							}
						}

						.chat-append{
							max-width: 100%;
							flex: 1 1 auto;

							height: 100%;

							padding: 0.875rem;

							overflow-x: hidden;
							@include overflow-y();

							.chat-delay{
								margin: 0.5rem 0;
		
								display: block;
								text-align: center;
							}
		
							.chat-item{
								&:not(:last-child){
									margin-bottom: 0.5rem;
								}
		
								@include d-flex(row, flex-start, flex-start);
		
								&.chat-item-mine{
									@include d-flex(row-reverse, flex-start, flex-start);
		
									.item-content{
										width: 90%;
		
										@include d-flex(column, flex-start, flex-end);
		
										.content-chat{
											@include d-flex(column, flex-start, flex-end);
		
											p{
												background-color: var(--primary);
												color: var(--white);
											}
										}
									}
								}
		
								.item-avatar{
									width: 32px;
									height: 32px;
		
									margin-right: 0.5rem;
		
									.img-mask{
										width: 100%;
										height: 100%;
									}
								}
		
								.item-content{
									width: calc(100% - 32px - 0.5rem);
		
									@include d-flex(column, flex-start, flex-start);
		
									> p {
										&.p-name{
											margin-bottom: 0.25rem;
		
											font-size: 0.75rem;
										}
									}
		
									.content-chat{
										max-width: 90%;
		
										@include d-flex(column, flex-start, flex-start);
		
										p{
											padding: 0.375rem;
		
											background-color: var(--gray-1);
											font-size: 0.875rem;
		
											@include borderRadius(0.5rem);
		
											&:not(:last-child){
												margin-bottom: 0.25rem;
											}
										}
									}
								}
							}
						}
					}
					
					.card-footer{
						height: 58px;
						padding: 0.75rem;

						border-top: 1px solid var(--border);

						.form-control{
							margin-right: 0.75rem;
						}
					}
				}
			}
		}
	}
}