@import '../settings/var';
@import '../settings/mixin';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.page{
	.page-header{
		width: 100%;

		background-color: transparent;

		position: fixed;
		top: 0;
		z-index: 1030;

		header{
			.header-user{
				> a {
					font-weight: 600;

					&.btn{
						&:not(.btn-primary){
							color: var(--primary);
						}
					}
				}
			}
		}
	}

	.page-body{
		height: 100%;
	}

	.page-footer{
		width: 100%;

		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1031;

		footer{
			padding: 1.5rem;
			
			@include d-flex(column, center, center);

			h6,
			p{
				color: var(--white);
			}

			h6{
				margin-bottom: 0.5rem;
			}

			p{
				margin-bottom: 0.5rem;

				text-align: center;



				a{
					font-size: 0.875rem;

					color: var(--white);
				}
			}
		}
	}
}

.view-home{
	height: 100%;

	position: relative;

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	
	.overlay{
		width: 100%;
		height: 100%;

		background-color: rgba(3,122,178,0.5);

		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;

		@include translate(-50%, -50%);

		@include d-flex(column, center, center);

		.panel{
			width: 460px;

			padding: 1.5rem 1.5rem 2rem;

			background-color: var(--white);

			@include borderRadius();

			@include translate(0, -6rem);

			.panel-body{
				form{
					.form-group{
						> div {
							.btn{
								&.btn-block{
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}