@import '../settings/var';
@import '../settings/mixin';

html,
body{
	width: 100%;
	height: 100vh;

	overflow: hidden;
}

.page{
	width: 100%;
	height: 100%;

	overflow: hidden;

	.page-header{
		height: 60px;

		padding: 0 1.5rem;

		background-color: var(--gray-1);

		header{
			height: 100%;

			@include d-flex(row, flex-start, center);

			.header-brand{
				a{
					height: 100%;

					@include d-flex(row, center, center);

					img{
						height: 50px;

						display: block;
					}
				}
			}

			.header-user{
				margin-left: auto;

				.dropdown{
					.btn{
						@include d-flex(row, center, center);

						&.dropdown-toggle{
							&:after{
								border-top-color: var(--white);
							}
						}
						
						.user-info{
							@include d-flex(row, flex-start, center);

							.img-mask{
								width: 34px;
								height: 34px;

								margin-right: 0.5rem;

								border: 1px solid var(--border);
							}
						}

						h6{
							max-width: 130px;

							font-weight: 600;
							color: var(--white);

							overflow: hidden;
							text-overflow: ellipsis;

							white-space: nowrap;
						}
					}
				}
			}

			.header-expand-control{
				display: none;
			}
		}
	}

	.page-body{
		height: calc(100% - 60px);
	}

	.page-footer{
		footer{
			display: none;
		}
	}
}