@use "../settings/var";

$color-buttons: (
	'primary' : 								$color-primary,
	'secondary' : 								$color-secondary,
	
	'success' : 								$color-success,
	'warning' : 								$color-warning,
	'danger' : 									$color-danger,
	
	'link' : 									$color-primary,
	
	'light' : 									$color-white,
	'dark' : 									$color-black,
);

.badge{
	font-weight: 500;
	
    &.badge-circle{
        @include borderRadius(50%);
    }

    &.badge-default{
        background-color: var(--gray-2);
		color: var(--text-paragraph);
    }

	&.badge-primary-gradient,
    &.badge-secondary-gradient{
        color: var(--white);
    }

    &.badge-primary-gradient{
        @include gradientLinearBackground(45deg, #F5C45B, #FFA800);
    }

    &.badge-secondary-gradient{
        @include gradientLinearBackground(45deg, #5CB7B0, #36DAB1);
    }

    @each $key, $value in $color-buttons{
		&.badge-#{$key}{
			background-color: #{$value};
			color: $color-white;
        }
	}
	
	&.badge-outline-default {
		background-color: transparent;
		border: 2px solid var(--gray-2);
	    color: var(--gray-2);
	}

	@each $key, $value in $color-buttons{
		&.badge-outline-#{$key}{
			background-color: transparent;
			border: 2px solid #{$value};
			color: #{$value};
        }
	}
}

a{
	&.badge{
		background-color: transparent;
		color: var(--text-paragraph);

		&.badge-default {
			background-color: var(--gray-2);
			color: var(--text-paragraph);
			
		    &:hover {
		        background-color: var(--gray-2);
		    }

			&:focus{
				background-color: var(--gray-2);
				box-shadow: none;
			}
		}

		&.badge-primary-gradient,
		&.badge-secondary-gradient{
			color: var(--white);
		}

		&.badge-primary-gradient{
			@include gradientLinearBackground(45deg, #F5C45B, #FFA800);
		}

		&.badge-secondary-gradient{
			@include gradientLinearBackground(45deg, #5CB7B0, #36DAB1);
		}

		@each $key, $value in $color-buttons {
		    &.badge-#{$key} {
				color: var(--white);
				
		        &:hover {
		            background-color: lighten($value, 10%);
		        }

				&:focus{
					background-color: lighten($value, 10%);
					box-shadow: none;
				}
		    }
		}
	}
}